In [11]:
import pandas as pd

df = pd.read_csv('./dataset/dataset.csv', encoding='UTF-8')

ano_base = 1912

df = df.fillna(0)

df['Nasc.'] = ano_base - df['Idade'].astype(int)

df = df.sort_values(by="Nasc.", ascending=False)

df[['Nome', 'Nasc.', "Idade"]]

                                       Nome  Nasc.  Idade
196                     Mernagh, Mr. Robert   1912   0.00
755               Hamalainen, Master. Viljo   1912   0.67
531                       Toufik, Mr. Nakli   1912   0.00
533  Peter, Mrs. Catherine (Catherine Rizk)   1912   0.00
284              Smith, Mr. Richard William   1912   0.00
..                                      ...    ...    ...
672             Mitchell, Mr. Henry Michael   1842  70.00
493                 Artagaveytia, Mr. Ramon   1841  71.00
96                Goldschmidt, Mr. George B   1841  71.00
851                     Svensson, Mr. Johan   1838  74.00
630    Barkworth, Mr. Algernon Henry Wilson   1832  80.00

[891 rows x 3 columns]