In [97]:
import pandas as pd


df = pd.read_csv('./dataset/dataset.csv', encoding='UTF-8')

ano_base = 1912

df = df.fillna(0)

df['Nasc.'] = ano_base - df['Idade'].astype(int)

df = df.sort_values(by="Nasc.", ascending=False)

df[['Nome', 'Nasc.', "Idade"]]
df

,id,Sobrevivente,Classe,Nome,Sexo,Idade,NumIrmaosConjuge,NumPaisFilhos,Passagem,PrecoPassagem,Cabine,PortoEmbarque,Nasc.
196,197,0,3,"Mernagh, Mr. Robert",masculino,0.00,0,0,368703,7.7500,0,Q,1912
755,756,1,2,"Hamalainen, Master. Viljo",masculino,0.67,1,1,250649,14.5000,0,S,1912
531,532,0,3,"Toufik, Mr. Nakli",masculino,0.00,0,0,2641,7.2292,0,C,1912
533,534,1,3,"Peter, Mrs. Catherine (Catherine Rizk)",feminino,0.00,0,2,2668,22.3583,0,C,1912
284,285,0,1,"Smith, Mr. Richard William",masculino,0.00,0,0,113056,26.0000,A19,S,1912
...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,673,0,2,"Mitchell, Mr. Henry Michael",masculino,70.00,0,0,C.A. 24580,10.5000,0,S,1842
493,494,0,1,"Artagaveytia, Mr. Ramon",masculino,71.00,0,0,PC 17609,49.5042,0,C,1841
96,97,0,1,"Goldschmidt, Mr. George B",masculino,71.00,0,0,PC 17754,34.6542,A5,C,1841
851,852,0,3,"Svensson, Mr. Johan",masculino,74.00,0,0,347060,7.7750,0,S,1838
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",masculino,80.00,0,0,27042,30.0000,A23,S,1832

In [91]:
#Valores unicos e suas contagens

df[ df['Idade'] == 0 ][['Nome', 'Idade']]

df['Idade'].value_counts().head()

0.0     177
24.0     30
22.0     27
18.0     26
30.0     25
Name: Idade, dtype: int64

In [92]:
# import plotly.express as px
#
# df['Sobrevivente'].replace(0, 'Não', inplace=True)
# df['Sobrevivente'].replace(1, 'Sim', inplace=True)
#
# fig = px.pie(df, names='Sobrevivente', title='Passageiros Sobreviventes')
# fig.show()
#
# df['Classe'].replace(1, 'Primeira Classe', inplace=True)
# df['Classe'].replace(2, 'Segunda Classe', inplace=True)
# df['Classe'].replace(3, 'Terceira Classe', inplace=True)
#
# fig = px.pie(df, names='Classe', title='Passageiros por Classe')
# fig.show()

In [93]:
#Percentual sobreviventes
agrupado = df[ df['Sobrevivente'] == 1].groupby(['Sexo']).count()
total = agrupado.loc['feminino', 'id'] + agrupado.loc['masculino', 'id']
agrupado['Percentual'] = (agrupado['id'] / total) * 100
agrupado[['Percentual']]

           Percentual
Sexo
feminino    68.128655
masculino   31.871345

In [94]:
#Media idade
media = df[ (df['Sobrevivente'] == 1) ].groupby(['Classe', 'Sexo'])[['Idade']].mean()
max = df[ (df['Sobrevivente'] == 1) ].groupby(['Classe', 'Sexo'])[['Idade']].max()
min = df[ (df['Sobrevivente'] == 1) ].groupby(['Classe', 'Sexo'])[['Idade']].min()
media.loc[1]

               Idade
Sexo
feminino   31.483516
masculino  32.220444

In [95]:
#max idade
max

                  Idade
Classe Sexo
1      feminino    63.0
       masculino   80.0
2      feminino    55.0
       masculino   62.0
3      feminino    63.0
       masculino   45.0

In [96]:
#mix idade
min

                  Idade
Classe Sexo
1      feminino     0.0
       masculino    0.0
2      feminino     0.0
       masculino    0.0
3      feminino     0.0
       masculino    0.0

In [99]:
#preco de passagem por sobrevivente e nao sobrevivente
df.groupby('Sobrevivente')[['PrecoPassagem']].mean()

              PrecoPassagem
Sobrevivente
0                 22.117887
1                 48.395408

In [101]:
#idade media de mulheres nao sobreviventes, por classe

df[ df['Sobrevivente'] == 0 ].groupby('Classe')[['PrecoPassagem']].mean()

        PrecoPassagem
Classe
1           64.684007
2           19.412328
3           13.669364